/**Pseudo selector**/
:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

/**REMS Es para que se saque el 62.5% de 16 px de la fuente de escritura y de esa manera un rem sea equivalente a 10 px**/
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

/**Utilidad**/
.nav-bg {
    background-color: var(--secundario);
}

/**CSS**/
.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

/**Navegacion**/
.navegacion-principal {
    display: flex;
    flex-direction: column;
}

.navegacion-principal a {
    text-align: center;
    color: var(--blanco);
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-around;
    }
}