/**Pseudo selector**/
:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --gris-claro: #dfe9f3;
}

/**Globales**/
html {
    font-size: 62.5%;
    /**REMS Es para que se saque el 62.5% de 16 px de la fuente de escritura y de esa manera un rem sea equivalente a 10 px**/
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    /**Hack para Box Model**/
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--gris-claro) 0%, var(--blanco) 100%);
    /**Degradado**/
}

/**Tipografia**/

h1 {
    font-size: 3.8rem;
    text-align: center;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3,
footer {
    text-align: center;
}

/**Utilidad**/
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    text-decoration: none;
    color: var(--blanco);
    padding: 1rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: .5rem;
    text-transform: uppercase;
    width: 90%;
    text-align: center;
}

/**Titulos**/
h1 span {
    font-size: 2rem;
}

/**Navegacion**/

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

.navegacion-principal a {
    text-align: center;
    color: var(--blanco);
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

/**Imagen de fondo**/
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    margin-bottom: 2rem;
    position: relative;
}

.contenido-hero {
    position: absolute;
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
}

/**Servicios**/
.sombra {
    box-shadow: 0px 5px 15px 0px rgba(77, 77, 77, 1);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: .5rem;
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight: bold;
}

.servicio p{
    line-height: 2;
    text-align: center;
}

.iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
}

/**Formulario**/

.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    color: var(--primario);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

.contenedor-campos{
    display: grid;
}

/**Media Querys**/
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-around;
    }

    .boton {
        width: auto;
    }

    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;

    }

}