/**Pseudo selector**/
:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

/**REMS Es para que se saque el 62.5% de 16 px de la fuente de escritura y de esa manera un rem sea equivalente a 10 px**/
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

/**CSS**/
.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}

/**Navegacion**/
.navegacion-principal {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
}

.navegacion-principal a:hover {}

.nav-bg {
    background-color: var(--secundario);
}